<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Könyvesbolt</a>
  <form class="form-inline">
    <input id="searchBar" class="form-control mr-sm-2" type="search" placeholder="Keresés" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="titleSearch()">Keresés</button>
  </form>
</nav>

<body>
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let book of books">
        <div class="card h-100">
            <img class="card-img-top" src={{book.cover}} alt="">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{book.title}}</a>
              </h4>
              <h5>{{ book.price }} Ft</h5>
              <p class="card-text">Szerző: {{book.author}}</p>
              <button class="btn btn-lg btn-outline-primary" (click)="openDialog(book.isbn, content)">Bővebben</button>
            </div>
        </div>
      </div>
    </div>

  </div>
</body>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{book?.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img src={{book?.cover}} alt="">
    <table class="table">
      <tbody>
        <tr>
          <td>Cím: </td>
          <td>{{book?.title}}</td>
        </tr>
        <tr>
          <td>Szerző: </td>
          <td>{{book?.author}}</td>
        </tr>
        <tr>
          <td>ISBN: </td>
          <td>{{book?.isbn}}</td>
        </tr>
        <tr>
          <td>Kiadási év: </td>
          <td>{{book?.releaseDate}}</td>
        </tr>
        <tr>
          <td>Oldalszám: </td>
          <td>{{book?.pages}}</td>
        </tr>
        <tr>
          <td>Ár: </td>
          <td>{{book?.price}} Ft</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('Close click')">Bezár</button>
    <button type="button" class="btn btn-danger" (click)="buyItem(book.isbn)">Kosárba</button>
  </div>
</ng-template>
