<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Könyvesbolt</a>




    <form class="form-inline">

      <form id = "detailedsearch" style="display: none;">
        <input id="searchBar1" class="form-control mr-sm-2" type="search" placeholder="cím" aria-label="Search">
        <input id="searchBar2" class="form-control mr-sm-2" type="search" placeholder="szerző" aria-label="Search">
        <input id="searchBar3" class="form-control mr-sm-2" type="search" placeholder="műfaj" aria-label="Search">

        <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="detailedSearch()">Részletes keresés</button>
      </form>

      <button id = "detailedsearchbutton" class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="showDetailedSearchForm()">Részletes keresés</button> &nbsp; &nbsp;
      <input id="searchBar" class="form-control mr-sm-2" type="search" placeholder="Keresés" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="titleSearch()">Keresés</button>
    <button id="loginBtn" class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="loginPanel(loginContent)">Bejelentkezés</button>
    <button id="logoutBtn" class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="logout()">Kijelentkezés</button>
    <button id="basketBtn" class="btn btn-outline-success my-2 my-sm-0" type="button" (click)="openBasket(basketContent)">Kosár</button>
  </form>
</nav>

<body>
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let book of books">
        <div class="card h-100">
            <img class="card-img-top" src={{book.cover}} alt="">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{book.title}}</a>
              </h4>
              <h5>{{ book.price }} Ft</h5>
              <p class="card-text">Szerző: {{book.author}}</p>
              <button class="btn btn-lg btn-outline-primary" (click)="openDialog(book.isbn, content)">Bővebben</button>
            </div>
        </div>
      </div>
    </div>

  </div>
</body>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{book?.title}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <img src={{book?.cover}} alt="">
    <table class="table">
      <tbody>
        <tr>
          <td>Cím: </td>
          <td>{{book?.title}}</td>
        </tr>
        <tr>
          <td>Szerző: </td>
          <td>{{book?.author}}</td>
        </tr>
        <tr>
          <td>ISBN: </td>
          <td>{{book?.isbn}}</td>
        </tr>
        <tr>
          <td>Kiadási év: </td>
          <td>{{book?.releaseDate}}</td>
        </tr>
        <tr>
          <td>Oldalszám: </td>
          <td>{{book?.pages}}</td>
        </tr>
        <tr>
          <td>Ár: </td>
          <td>{{book?.price}} Ft</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('Close click')">Bezár</button>
    <button type="button" class="btn btn-danger" (click)="addToBasket(book.isbn)">Kosárba</button>
  </div>
</ng-template>

<ng-template #loginContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Bejelentkezés</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
   <div class="form-group">
       <label for="username">Felhasználónév</label>
       <input id="userNameInput" type="text" class="form-control" aria-describedby="usernameHelp" placeholder="Felhasználónév">
     </div>
     <div class="form-group">
       <label for="password">Jelszó</label>
       <input id="passwordInput" type="password" class="form-control" placeholder="Jelszó">
     </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="openRegisterModal(registerContent)">Regisztráció</button>
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('Close click')">Bezár</button>
    <button type="button" class="btn btn-danger" (click)="login()">Bejelentkezés</button>
  </div>
</ng-template>

<ng-template #registerContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Regisztráció</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
     <div class="form-group">

       <label for="emailInput">Email</label>
       <input id="registerInputEmail" type="email" class="form-control" aria-describedby="usernameHelp" placeholder="Felhasználónév">

       <label for="firstNameInput">Vezetéknév</label>
       <input id="firstNameInput" type="text" class="form-control" aria-describedby="usernameHelp" placeholder="Vezetéknév">

       <label for="lastNameInput">Keresztnév</label>
       <input id="lastNameInput" type="text" class="form-control" aria-describedby="usernameHelp" placeholder="Keresztnév">

       <label for="passwordInput">Jelszó</label>
       <input id="registerPasswordInput" type="password" class="form-control" placeholder="Jelszó">

       <label for="passwordInputAgain">Jelszó újra</label>
       <input id="registerPasswordInputAgain" type="password" class="form-control" placeholder="Jelszó újra">

     </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('Close click')">Bezár</button>
    <button type="button" class="btn btn-danger" (click)="register()">Regisztrálás</button>
  </div>
</ng-template>

<ng-template #basketContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Kosár</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
     <div class="form-group" *ngFor="let book of basket">
       <p>{{book.title}} - {{book.price}} Ft</p>
     </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="modal.close('Close click')">Bezár</button>
    <button type="button" class="btn btn-danger" (click)="checkout()">Vásárlás</button>
  </div>
</ng-template>
