<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Könyvesbolt</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Keresés" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Keresés</button>
  </form>
</nav>

<body>
  <div class="container">
    <div class="row">

      <div class="col-lg-4 col-md-6 mb-4" *ngFor="let book of books">
        <div class="card h-100">
            <img class="card-img-top" src={{book.cover}} alt="">
            <div class="card-body">
              <h4 class="card-title">
                <a href="#">{{book.title}}</a>
              </h4>
              <h5>{{ book.price }} Ft</h5>
              <p class="card-text">Szerző: {{book.author}}</p>
              <div class="card-footer">
                <small class="text-muted">Kiadó: {{book.publisher}}</small>
                <button class="btn btn-lg btn-outline-primary" (click)="openDialog()">Bővebben</button>
              </div>
            </div>
        </div>
      </div>
    </div>

  </div>
</body>
