<!DOCTYPE html>
<html lang="hu">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="tothb">
    <meta name="description" content="RF1 kötelező program">

    

  </head>
  <app-home></app-home>

  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Rendszerfejlesztés I. &copy; 2018</p>
    </div>
    <!-- /.container -->
  </footer>
</html>
